  <% email = @gmail.inbox.find(uid: @id).pop if @mailbox == 'inbox' %>
  <% email = @gmail.mailbox('sent').find(uid: @id).pop if @mailbox == 'sent' %>

  <% if !email.blank? %>

    <% email.read! %>

    <% subject = email.message.subject %>
    <% if !subject.blank? %>
      <% if subject.include? "=?WINDOWS-1252?Q?" %>
      <% subject = subject.gsub!("=?WINDOWS-1252?Q?","").unpack("M").first.gsub('_',' ').force_encoding('WINDOWS-1252').encode('UTF-8')%>
      <% end %>
    <% else %>
      <% subject = "(No Subject)" %>
    <% end %>
    <% sender = email.from[0].mailbox << "@" << email.from[0].host%>

    <% if email.message.html_part.present? %>
        <% message = /<img src=('|")cid:([\w\W]+?)('|")>/.match(email.message.html_part.decoded) ? email.message.html_part.decoded.gsub(/<img src=('|")cid:([\w\W]+?)('|")>/, "") : email.message.html_part.decoded rescue email.message.decoded %>
      <% elsif email.message.text_part.present? %>
        <% message = /<img src=('|")cid:([\w\W]+?)('|")>/.match(email.message.text_part.decoded) ? email.message.text_part.decoded.gsub(/<img src=('|")cid:([\w\W]+?)('|")>/, "") : email.message.text_part.decoded %>
      <% else %>
        <% message = /<img src=('|")cid:([\w\W]+?)('|")>/.match(email.raw_message.body.decoded) ? email.raw_message.body.decoded.gsub(/<img src=('|")cid:([\w\W]+?)('|")>/, "") : email.raw_message.body.decoded %>
    <% end %>

    <div class = 'row center-block'>
      <span>Sent By: <%= sender %></span><br>
      <span>Subject: <%= subject %></span>
    </div>
    <br>
    <div class = 'row center-block scroll-content'>
      <div class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
        <%= message.html_safe %>
      </div>
      <br><br>
      <% if email.multipart? %>
          <% unless email.message.attachments.empty? %>
            <div class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
              <span>This message has the following attached files:</span>
            </div>
            <% folder = Rails.root.join('public', 'uploads', 'file_uploads')%>
             <% email.message.attachments.each do |f| %>
               <% File.write(File.join(folder, f.filename), f.body.decoded.force_encoding('utf-8')) %>
                 <% if f.content_type.include?("image/jpeg") || f.content_type.include?("image/gif") || f.content_type.include?("image/png") %>
                   <% file = File.open(File.join("#{folder}", "#{f.filename}")) %>
                   <% u = Upload.create(avatar: file) %>
                   <% if /attachment/.match(f.content_disposition) %>
                   <div class = 'col-lg-2 col-md-2 col-sm-2 col-xs-2 data'>
                     <br>
                <%= image_tag "#{u.avatar.url}", size: "100x100", alt: "#{f.filename}", title: "#{f.filename}" %>
                   <% else %>
                   <div class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                     <br>
                <%= image_tag "#{u.avatar.url}", alt: "#{f.filename}", title: "#{f.filename}", class: 'display_inline_image' %>
                   <% end %>
                 <% else %>
                 <div class = 'col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                   <br>
                   <%= f.filename %>
                 <% end %>
                 </div>
             <% end %>
           <% end %>
      <% end %>
    </div>

    <hr></hr>
    <div class = 'row center-block'>
    <%= form_tag(send_message_path) do %>
      <div class = 'form-group'>
          <%= label_tag('to', "To:") %>
          <%= email_field_tag('to', sender, class: 'form-control', required: true) %>
      </div>
      <div class = 'form-group'>
          <%= label_tag('message', "Reply:") %>
          <%= text_area_tag('message', nil, rows: 10, cols: 25, class: 'form-control') %>
      </div>
      <%= submit_tag("Send", class: 'btn btn-primary') %>
    <% end %>
    </div>
  <% else %>
  <div class = 'row center-block'>
    Email not found.
  </div>
  <% end %>

  <br>
