<div class="login-page">
  <div class="form">
    <form class="login-form">
      <%= image_tag asset_path('logo.png')%>
      <br><br><br>
      <%= link_to "SIGN IN WITH GOOGLE", "/auth/google_oauth2", id: "sign_in", class: 'btn btn-primary' %>
    </form>
  </div>
</div>