<%= form_tag(send_message_path, multipart: true, id: "message_form") do %>
  <div class = 'form-group'>
    <div id = 'error_area'>
    </div>
      <%= label_tag('to', "TO:") %>
      <%= email_field_tag('to', nil, class: 'form-control', multiple: true) %>
      <div class = 'collapse' id = 'cc_field'>
        <%= label_tag('cc', "CC:") %>
        <%= email_field_tag('cc', nil, class: 'form-control', multiple: true) %>
      </div>
      <div class = 'collapse' id = 'bcc_field'>
        <%= label_tag('bcc', "BCC:") %>
        <%= email_field_tag('bcc', nil, class: 'form-control', multiple: true) %>
      </div>

      <br>
      <button type = 'button' id = 'cc_button' class = 'btn btn-default' data-toggle = 'collapse' data-target = '#cc_field'>
        CC:
      </button>
      <button type = 'button' id = 'bcc_button' class = 'btn btn-default' data-toggle = 'collapse' data-target = '#bcc_field'>
        BCC:
      </button>

  </div>

  <div class = 'form-group'>
      <%= label_tag('subject', "Subject:") %>
      <%= text_field_tag('subject', nil, class: 'form-control') %>
  </div>

  <div class = 'form-group'>
      <%= label_tag('message', "Message:") %>
      <%= text_area_tag('message', nil, rows: 10, cols: 25, class: 'form-control') %>
  </div>

  <div id = 'form-group'>
    <label for="file">File to Upload</label>
    <%= file_field_tag "file" %>
  </div>
<br>
  <%= submit_tag("Send", class: 'btn btn-primary') %>
<% end %>
<br>

<script>
  $('#message_form').submit(function(e){
    if ( !$.trim($('#cc').val()) && !$.trim($('#to').val()) && !$.trim($('#bcc').val())){
      e.preventDefault();
      $('#to').css('border-color', 'red');
      $('#error_area').text("Error empty recipient.");
      $('#error_area').css('display', 'block');
    }
  });
</script>
