.navbar-brand{
  color: white !important;
}

.navbar-nav > .active > a{
  background-color: #ffab66 !important;
  color: white;
}

.app-content{
  padding-top: 70px;
  background-color: #fff;
  min-height: 500px;
  min-width: 700px;
}

.navbar-brand:hover, .nav-item:hover{
  background-color: #ffab66 !important;
  color: white;
}

.navigation-item{
  font-size: 14px !important;
}

.color-adish, .navigation-button{
  background-color: #ff7300 !important;
}

.navigation-dropdown:hover, .navigation-button:hover{
  background-color: #ffab66 !important;
  color: white;
}

th{
  padding: 15px !important;
  color: white;
  background-color: #000;
}

.navbar-toggle{
  background-color: #337ab7 !important;
  padding-top: 10px !important;
}
.icon-bar{
  background-color: #fff !important;
}