.message-row{
  padding: 10px;
  text-overflow: ellipsis;
  border: 1px solid #000;
}

.message-row:hover{
  background-color: #eee;
}

.data{
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab-content > a{
  color: #000;
}

.message-row{
  margin-right: 30px !important;
  margin-left: 30px !important;
  min-width: 630px; 
}
.thumb-image{
  float:left;
  width:100px;
  position:relative;
  padding:5px;
}
.scroll-content{
  overflow-y: scroll;
  height: 350px;
}
.topright {
    position: absolute;
    top: 55px;
    right: 16px;
    font-size: 14px;
}
#error_area{
  display: none;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 20px;
}

.display_inline_image{
  max-width: 300px; 
  max-height: 300px;
}
