<!DOCTYPE html>
<html>
<head>
  <title>Proto-Mailer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = 'color-layout'>
  <div class = 'container'>
    <nav class="navbar navbar-fixed-top navbar-default color-adish">
      <div class = 'navbar-header'>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
        <%= link_to 'Proto-Mailer', root_path,  class: 'navbar-brand'%>
      </div>
      
      <% if !current_user.blank? %>
      <div class = 'collapse navbar-collapse pull-right' style = 'border: none;'>
        <div class = 'nav navbar-nav'>
        <li class = 'nav-item <%= "active" if current_page?(root_path) %>'><%= link_to 'Inbox', root_path,  class: 'navbar-brand navigation-item' %></li>
        <li class = 'nav-item <%= "active" if current_page?(sent_path) %>'><%= link_to 'Sent', sent_path,  class: 'navbar-brand navigation-item' %></li>
        <li class = 'nav-item <%= "active" if current_page?(new_message_path) %>'><%= link_to 'Compose Message', new_message_path,  class: 'navbar-brand navigation-item' %></li>
        <li class = 'nav-item'>
          <div class="dropdown pull-right navigation-dropdown">
            <button class="btn btn-primary dropdown-toggle navigation-button"
                    type="button" id="dropdownMenu4" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style = 'padding-bottom: 15px; padding-top: 15px; border: none; background-color: #ff7300'>
              <%= current_user.name.upcase %> <b class = 'caret'></b>
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to signout_path, id: "sign_out", class: 'dropdown-item text-center' do %>
                     SIGN OUT <%= fa_icon 'sign-out'%>
                  <% end %>
              </li>
            </ul>
          </div>
        </li>
        </div>
      </div>    
    <% end %>
    </nav>
  </div>
  <div class = 'container app-content'>
  <% if failure %>
    <div class = 'pull-right alert alert-dismissible alert-danger topright'>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%= failure %>
    </div>
  <% end %>
  <% if success %>
    <div class = 'pull-right alert alert-dismissible alert-success topright'>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%= success %>
    </div>
  <% end %>
  <%= yield %>
  </div>
</body>
</html>
