<!DOCTYPE html>
<html>
<head>
  <title>Proto-Mailer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = 'color-layout'>
  <div class = 'container'>
    <% if failure %>
    <div class = 'pull-right alert alert-dismissible alert-danger'>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%= failure %>
    </div>
    <% end %>
    <% if success %>
      <div class = 'pull-right alert alert-dismissible alert-success'>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>